
Back/src/ProEventos.API/obj/project.nuget.cache
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Back/src/ProEventos.API/bin/Debug/net5.0/Newtonsoft.Json.dll
Back/src/ProEventos.API/bin/Debug/net5.0/ProEventos.API.deps.json
Back/src/ProEventos.API/bin/Debug/net5.0/ProEventos.API.dll
Back/src/ProEventos.API/bin/Debug/net5.0/ProEventos.API.pdb
Back/src/ProEventos.API/bin/Debug/net5.0/ref/ProEventos.API.dll
Back/src/ProEventos.API/bin/Debug/net5.0/ProEventos.API.deps.json
Back/src/ProEventos.API/bin/Debug/net5.0/ProEventos.API.dll
Back/src/ProEventos.API/bin/Debug/net5.0/ProEventos.API.pdb
Back/src/ProEventos.API/bin/Debug/net5.0/ref/ProEventos.API.dll
Back/src/ProEventos.API/bin/Debug/net5.0/ref/ProEventos.API.dll
Back/src/ProEventos.API/obj/Debug/net5.0/ProEventos.API.csproj.CoreCompileInputs.cache
Back/src/ProEventos.API/obj/Debug/net5.0/ProEventos.API.csproj.FileListAbsolute.txt
