
Back/src/ProEventos.API/obj/project.nuget.cache
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Back/src/ProEventos.API/bin/Debug/net5.0/Newtonsoft.Json.dll
Back/src/ProEventos.API/bin/Debug/net5.0/ProEventos.API.deps.json
Back/src/ProEventos.API/bin/Debug/net5.0/ProEventos.API.dll
Back/src/ProEventos.API/bin/Debug/net5.0/ProEventos.API.pdb
Back/src/ProEventos.API/bin/Debug/net5.0/ref/ProEventos.API.dll
Back/src/ProEventos.API/bin/Debug/net5.0/ProEventos.API.deps.json
Back/src/ProEventos.API/bin/Debug/net5.0/ProEventos.API.dll
Back/src/ProEventos.API/bin/Debug/net5.0/ProEventos.API.pdb
Back/src/ProEventos.API/bin/Debug/net5.0/ref/ProEventos.API.dll
Back/src/ProEventos.API/bin/Debug/net5.0/ref/ProEventos.API.dll
Back/src/ProEventos.API/obj/Debug/net5.0/ProEventos.API.csproj.CoreCompileInputs.cache
Back/src/ProEventos.API/obj/Debug/net5.0/ProEventos.API.csproj.FileListAbsolute.txt
.vs/angular_e_csharp_leonardopiel/v16/.suo
.vs/angular_e_csharp_leonardopiel/v16/.suo
/.vs/angular_e_csharp_leonardopiel/FileContentIndex
/.vs/angular_e_csharp_leonardopiel/v16/.suo
*.wsuo
/Back/src/ProEventos.API/bin/Debug/net5.0/ref/ProEventos.API.dll
/Back/src/ProEventos.API/bin/Debug/net5.0/ProEventos.API.runtimeconfig.dev.json
/Back/src/ProEventos.API/bin/Debug/net5.0/ProEventos.API.pdb
/Back/src/ProEventos.API/bin/Debug/net5.0/ProEventos.API.dll
/Back/src/ProEventos.API/obj/Release/net5.0/ProEventos.API.GeneratedMSBuildEditorConfig.editorconfig
/Back/src/ProEventos.API/obj/Release/net5.0/ProEventos.API.csproj.AssemblyReference.cache
/Back/src/ProEventos.API/obj/Release/net5.0/ProEventos.API.assets.cache
*.dll
*.cs
/Back/src/ProEventos.API/obj/Debug/net5.0/ProEventos.API.pdb
/Back/src/ProEventos.API/obj/Debug/net5.0/ProEventos.API.genruntimeconfig.cache
/Back/src/ProEventos.API/obj/Debug/net5.0/ProEventos.API.GeneratedMSBuildEditorConfig.editorconfig
/Back/src/ProEventos.API/obj/Debug/net5.0/ProEventos.API.csproj.AssemblyReference.cache
/Back/src/ProEventos.API/obj/Debug/net5.0/ProEventos.API.assets.cache
/Back/src/ProEventos.API/obj/project.assets.json
/Back/src/ProEventos.API/obj/ProEventos.API.csproj.nuget.g.props
/Back/src/ProEventos.API/obj/ProEventos.API.csproj.nuget.dgspec.json
.vs/angular_e_csharp_leonardopiel/v16/.suo
Back/src/ProEventos.API/bin/Debug/net5.0/ProEventos.API.dll
Back/src/ProEventos.API/bin/Debug/net5.0/ProEventos.API.dll
Back/src/ProEventos.API/bin/Debug/net5.0/ProEventos.API.pdb
Back/src/ProEventos.API/bin/Debug/net5.0/ProEventos.API.runtimeconfig.dev.json
Back/src/ProEventos.API/bin/Debug/net5.0/ref/ProEventos.API.dll
Back/src/ProEventos.API/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Back/src/ProEventos.API/obj/Debug/net5.0/ProEventos.API.assets.cache
Back/src/ProEventos.API/obj/Debug/net5.0/ProEventos.API.csproj.AssemblyReference.cache
Back/src/ProEventos.API/obj/Debug/net5.0/ProEventos.API.csproj.FileListAbsolute.txt
Back/src/ProEventos.API/obj/Debug/net5.0/ProEventos.API.dll
Back/src/ProEventos.API/obj/Debug/net5.0/ProEventos.API.GeneratedMSBuildEditorConfig.editorconfig
Back/src/ProEventos.API/obj/Debug/net5.0/ProEventos.API.genruntimeconfig.cache
Back/src/ProEventos.API/obj/Debug/net5.0/ProEventos.API.MvcApplicationPartsAssemblyInfo.cs
Back/src/ProEventos.API/obj/Debug/net5.0/ProEventos.API.pdb
Back/src/ProEventos.API/obj/Debug/net5.0/ref/ProEventos.API.dll
Back/src/ProEventos.API/obj/ProEventos.API.csproj.nuget.dgspec.json
Back/src/ProEventos.API/obj/ProEventos.API.csproj.nuget.g.props
Back/src/ProEventos.API/obj/project.assets.json
Back/src/ProEventos.API/obj/project.nuget.cache
Back/src/ProEventos.API/obj/Release/net5.0/ProEventos.API.assets.cache
Back/src/ProEventos.API/obj/Release/net5.0/ProEventos.API.GeneratedMSBuildEditorConfig.editorconfig
*.dll
